Flask==2.3.2
Flask-SocketIO==5.3.4
python-socketio[asyncio]==5.7.2
python-engineio[asyncio]==4.3.2
aiohttp==3.8.6
eventlet==0.38.0
python-dotenv==1.0.0
openai
SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
gunicorn==21.2.0
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0
numpy
openai[datalib]
gevent==24.11.1
gevent-websocket==0.10.1