.Pane {
  overflow: auto; /* Ensures content inside the panes scrolls */
}

.SplitPane {
  height: 100%; /* Ensures it takes full height of the viewport */
  position: absolute;
}

.Resizer {
  background: #ddd;
  width: 5px;
  cursor: col-resize;
  transition: all 0.2s;
}

.Resizer:hover {
  background: #bbb;
}

.editor {
  height: 100%;
}

.custom-split-pane .Resizer {
  background-color: black; /* Divider background color */
  cursor: col-resize;
  width: 5px; /* Divider thickness */
  position: relative;
}

.custom-split-pane .Resizer::before {
  content: "⋮"; /* Vertical ellipsis */
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white; /* Dots color */
  font-size: 35px; /* Adjust size */
  pointer-events: none; /* Prevent interaction */
}

/* React markdown inline code styling - only apply to the code in ai chat*/
.ai-chat-message code {
  padding: 0.5px 2px;
  border-radius: 4px;
  font-family: monospace;
  color: #3c3c3c;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.landing-page {
  color: white;
}

.dashboard {
  color: white;
}

.dashboard-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
